<div class='video col-md-4 video-<%= data.source %>'>
	<a target='_blank' href='<%= data.url || 'http://youtu.be/' + data.resourceId.videoId %>'>
		<img class='img-responsive' src='<%- data.thumbnail_large || data.thumbnails.standard.url %>' />
	</a>
	<h4>
		<a target='_blank' href='<%= data.url || 'http://youtu.be/' + data.resourceId.videoId %>'><%- data.title %></a>
	</h4>
</div>
